// @import "../../scss/variables";
// .logo-container {
//   img {
//     width: 150px;

//     display: block;
//     margin: 0 auto;
//   }
//   .logo-text {
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     color: white;
//   }
// }
// .form-title {
//   text-align: center;
// }
// // .login-form {
// //   align-items: center;
// //   justify-content: center;
// //   text-align: center;
// // }
// .login-form-container {
//   width: 100vw;
//   height: 100vh;
//   background-image: url(../../assets/bg.jpg);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: absolute;
// }

// .account-common-page {
//   margin: auto;

//   .account-wrapper {
//     display: flex;
//     flex-direction: row;
//     width: 500px;
//     margin: auto;
//     margin-top: 10%;
//   }
//   .login-form {
//     align-items: center;
//     border-radius: 20px;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//     width: 100%;
//     background: #fff;

//     .form-account {
//       padding: 0 3rem;
//     }

//     .button-custom {
//       justify-content: center;
//       align-items: center;
//       padding: 0 20px;
//       width: 100%;
//       height: 40px;
//       border: none;
//       border-radius: 10px;
//       background: $purple-lazo;
//       z-index: -1;
//       color: white;

//       cursor: pointer;
//     }
//     .login-form-footer {
//       text-align: center;
//       display: flex;
//       flex-direction: column;
//       text-align: center;
//       margin-top: 1rem;
//       a {
//         font-size: 16px;
//         margin: 0.5rem 0;
//         color: $purple-lazo;
//         text-decoration: none !important;
//       }
//       @media only screen and (min-width: 992px) and (max-width: 1199px) {
//         .account-wrapper {
//           width: 70%;
//         }
//       }

//       @media only screen and (min-width: 768px) and (max-width: 991px) {
//         .account-wrapper {
//           width: 50%;
//         }
//       }

//       @media only screen and (min-width: 577px) and (max-width: 767px) {
//         .account_left {
//           display: none;
//         }
//         .account_right {
//           width: 100%;
//         }
//         .account-wrapper {
//           width: 90%;
//         }
//       }
//       @media only screen and (max-width: 576px) {
//         .account-wrapper {
//           box-shadow: unset;
//           width: 100%;
//         }
//         .account_left {
//           display: none;
//         }
//         .account_right {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
.logo-container {
  img {
    width: 150px;

    display: block;
    margin: 0 auto;
  }
  .logo-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
}
.form-title {
  text-align: center;
}
.login-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-form-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  .login-form {
    background: #fff;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // .form-field {
    //   margin-bottom: 16px;
    // }
  }
}
