.logo-container {
    img {
        width: 150px;

        display: block;
        margin: 0 auto;
    }
    .logo-text {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.form-title{
    text-align: center;
}
.login-form {
    align-items: center;
    justify-content: center;
    text-align: center;
}
