.logo-container{
    height: 72px;
    width: 100%;
    .logo{
        height: 50%;
        width: 50%;
        background-image: url(../../../assets/logo.png);
        background-size: contain;
        background-repeat: no-repeat;   
        display: inline-block;
        position: relative;
        left: 35%;
        top: 30%;
        transform: translateX(-50%);
    }

};
    .ant-menu-item-selected{
    border-radius: 10px;
}