.ant-card .ant-card-body {
  padding: 10px;
}
// .Warehouse {
//     max-width: 1000px; /* Giới hạn chiều rộng tối đa của component là 1000px */
//     margin: 0 auto; /* Căn giữa component theo chiều ngang */
//     display: flex;
//     flex-wrap: wrap; /* Cho phép các Shelf xuống hàng mới khi không còn chỗ trên hàng hiện tại */
//   }

//   .Shelf {
//     width: calc(100% / 3); /* Kệ chiếm 1/3 chiều rộng của component */
//     max-width: 300px; /* Giới hạn chiều rộng tối đa của kệ là 300px */
//     height: 200px;
//     border: 1px solid black;
//     box-sizing: border-box;
//     flex-shrink: 0; /* Không cho phép kệ thu nhỏ khi không đủ chỗ trên hàng */
//   }
.shelf-row {
  max-width: 100vw;
  flex-wrap: wrap;
}

.shelf {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.full {
  background-color: red;
  color: white;
}

.empty {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .Shelf {
    width: calc(
      100% / 2
    ); /* Khi chiều rộng của component nhỏ hơn 1000px, kệ chiếm 1/2 chiều rộng của component */
  }
}

@media only screen and (max-width: 600px) {
  .Shelf {
    width: 100%; /* Khi chiều rộng của component nhỏ hơn 600px, kệ chiếm toàn bộ chiều rộng của component */
  }
}
