$shelf-bg-available: #4caf50;
$shelf-bg-full: #f44336;
$shelf-bg-empty: #cdcdcd;

.shelf {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0px;
  margin-bottom: 1rem;

  &__item {
    width: calc((100% - 48px) / 5);
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;

    &--available {
      background-color: $shelf-bg-available;

      &:hover {
        background-color: darken($shelf-bg-available, 10%);
      }
    }

    &--full {
      background-color: $shelf-bg-full;

      &:hover {
        background-color: darken($shelf-bg-full, 10%);
      }
    }
    &--empty {
      background-color: $shelf-bg-empty;

      &:hover {
        background-color: darken($shelf-bg-empty, 10%);
      }
    }
  }
}
